/* Write your CSS here */
.bgContainer {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0 solid;
  padding: 3rem;
  box-shadow: 0 4px 16px 0 #ff8542;
}
.title {
  color: #ff8542;
  font-size: 48px;
  text-align: center;
  margin-bottom: 2rem;
}
.addTodoSection > input {
  width: 60%;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ff8542;
}
.addBtn {
  padding: 0.8rem 25px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  border: 1px solid #ff0b37;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #ff8542;
  transition: 0.5s;
}
.addBtn:hover {
  background-color: #ff0b37;
}
.addTodoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
